<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title> def Diego():</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="shortcut icon" href="{% static 'icons/favicon.svg' %}">
    </head>
    <body>
        <nav>
            <a href="#">def Diego():</a>
            <div class="links">
                <a href="#">contact</a>
                <a href="#">about</a>
            </div>

        </nav>



        {% block content %}
{% endblock content %}


<footer>
    <p class="footerP">©2022 Diego Morales. All Rights Reserved.</p>
</footer>
</div>

</body>
</html>
